#keyboard {
   font-size: 20px;
   width: 1000px;
   border: 2px solid black;
   border-radius: 10px;
   padding: 8px;
   background: #f7f5f550;
   box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.2);
   margin-bottom: 20px;
   margin-top: 20px;
}

.key-code {
   border-radius: 3%;
   flex: 1 1 5%;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 30px;
   height: 30px;
   margin: 5px;
   padding: 5px;
   border: 2px solid black;
}

.active {
   background: #ffff99;
}

.active2 {
   font-weight: bold;
   background: rgba(233, 233, 247);
}

.info {
   font-weight: 550;
}
.info2 {
   font-size: 14px;
   font-weight: 800;
}

.show {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
}

.hide {
   display: none;
}

#btn,
#btnSH {
   width: 200px;
   border: 1px solid black;
   border-radius: 5px;
   background: white;
   color: rgb(15, 15, 15);
   padding: 8px 16px;
   font-size: 16px;
}

textarea {
   font-size: 20px;
   overflow: auto;
}

.space {
   display: flex;
   flex-direction: row;
   flex: 1 1 50%;
}
